ul
   list-style: none
a
    color: #8484AF
p
    text-align: justify
    
header
    height: 77px
    display: flex
    align-items: center
    >div 
        display: flex
        justify-content: flex-end
        align-items: center
        width: 100%
        max-width: 1250px
        margin: auto
    div>nav>ul
        display: flex
        gap: 42px
    a 
        font-weight: 400
        font-size: 16px
    li
        margin: 12px 12px 0 12px
        padding-bottom: 12px

    .active 
        border-bottom: 3px solid #E84646
    .active>a
        font-weight: 700
        color: #BECCE9
main
    max-width: 1250px
    margin: auto
    margin-bottom: 50px
    min-height: calc(100vh - 77px - 70px)
    display: flex
    justify-content: center
    align-items: center
    >div 
        display: flex
        flex-wrap: wrap
        gap: 30px
    .section-title
        flex: 1 100%
        color: #E84646
        font-weight: 700
        justify-content: flex-start

    .section-subtitle
    
        color: #BECCE9
        font-weight: 600
        margin-bottom: 12px
  
    .projects-list
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        gap: 12px
    .home
        .text
            font-size: 36px
            font-weight: 800
            color: #BECCE9
            margin-bottom: 12px
        span
            margin-bottom: 12px
    .btn-outline
        cursor: pointer
        padding: 12px 24px
        border: 0
        background-color: inherit
        color: #BECCE9
        border: 1px solid #BECCE9
        border-radius: 4px
        font-weight: 400
        font-size: 16px
        letter-spacing: 1px
        &:hover
            background-color: #E84646
            color: #eaf1ff
            border: 1px solid #E84646
    .work-exp-item
        padding: 18px 0
 
        border-bottom: 1px solid #fff
        h4
            font-weight: 600
            font-size: 16px
            color: #E84646
            margin-bottom: 8px
        ul
            margin-inline-start: 30px
            list-style: disc
            font-size: 14px
    .skills-container
        display: flex
        flex-wrap: wrap
        gap: 12px
    .skill-item
        color: #BECCE9
        padding: 6px 12px
        border: 1px solid #BECCE9
        border-radius: 5px
        font-size: 12px
    .card
        position: relative
        width: 400px
        height: 300px
        flex: 1 30%
        background-size: contain
        .card-data
            display: none
            position: absolute
            top: 0
            left: 0
            width: inherit
            height: inherit
            background-color: #fff
    .project-container
        max-width: 700px
        >img
            border-bottom: 2px solid #E84646

    .contact-container
        max-width: 400px
    .form-container
        width: 100%
        display: flex
        flex-direction: column
        label
            margin-bottom: 6px
        input
            border: 1px solid #8484AF
            border-radius: 6px
            padding: 12px 
            background-color: #f1f1f1
            color: #000
            margin-bottom: 20px
        textarea
            border: 1px solid #8484AF
            border-radius: 6px
            padding: 12px 
            background-color: #f1f1f1
            color: #000
            margin-bottom: 20px
    
footer
    position: absolute
    bottom: 0
    left: 0
    right: 0
    
    >div
        height: 50px
        background-color: #07071e
        position: relative
        max-width: 1250px
        margin: auto
        display: flex
        align-items: flex-end
        justify-content: flex-end
        >p
            padding: 15px 0
            font-size: 12px
    .socials
        display: flex
        flex-direction: column
        align-items: center
        font-size: 24px
        gap: 24px
        position: absolute
        left: -100px
        >div
            width: 1px
            height: 90px
            background-color: #8484AF
 